@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
    font-family:'Roboto', sans-serif;
    background-image: linear-gradient(90deg, rgba(110,222,255,1) 4%, rgba(7,193,231,1) 35%, rgba(0,152,189,1) 85%);
}

.btn-remover-item{
    padding: 12px 12px 12px 12px;
	border-radius: 100px;
}